body {
  background-color: #190033 !important;
  color: #fbe6fd !important;
  font-family: 'Questrial', sans-serif !important;
}

body a {
  color: #fbe6fd;
}

body > header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

body p:not(.m-auto) {
  font-size: larger;
}

body h5 {
  font-size: 1.5rem;
}

body h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-background .jumbotron {
  background-color: transparent;
  margin-top: 8em;
  padding: 5em 10em;
  border: 1px solid #180027;
  border-radius: 2px;
}

.main-background .jumbotron h1 {
  text-align: center;
}

.main-background .modal-notify {
  color: #180027;
}

.main-background .modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}

.main-background .modal-notify .modal-content {
  border-radius: 3px;
}

.main-background .smart-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.main-background .smart-add .smart-add-box {
  display: flex;
  flex-direction: column;
  width: 14em;
  margin: 2em 0;
  margin-left: 5%;
}

.main-background .smart-add .smart-add-box textarea {
  height: 2em;
  width: 14em;
  border-style: hidden;
  border-bottom: 2px solid #fbe6fd;
  background-color: transparent;
  resize: none;
}

.main-background .smart-add .smart-add-box textarea:focus-visible {
  outline: none;
}

.main-background .smart-add .smart-add-box .new-item {
  background-color: transparent;
  border: 2px solid #fbe6fd;
  border-radius: 4px;
  width: 25%;
  color: #fbe6fd;
}

.main-background .smart-add .smart-add-box .new-item:hover {
  background-color: #67299d;
  border: 2px solid #67299d;
}

.main-background .main-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-background .main-categories div.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-background .main-categories div.category h2 {
  text-transform: capitalize;
}

.main-background .main-categories div.category article {
  width: 90%;
}

.main-background .main-categories div.category article .items-count {
  text-align: right;
}

.main-background .main-categories div.category article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-background .main-categories div.category article header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
}

.main-background .main-categories div.category article header .header-left .badge {
  margin-left: 1rem;
  font-size: medium;
}

.main-background .main-categories div.category article header .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
}

.main-background .main-categories div.category article header .buttons button {
  margin: 1em;
}

.main-background .main-categories div.category article.done h3,
.main-background .main-categories div.category article.done h5,
.main-background .main-categories div.category article.done p {
  font-style: italic;
}

.main-background .main-categories div.category .section-divider {
  background-image: url("/img/div1.png");
  height: 5rem;
  width: 100%;
}

.main-background .main-categories div.category .section-divider.top {
  transform: rotateY(180deg);
}

.main-background .main-categories div.category .section-divider.bottom {
  transform: rotateX(180deg);
}

.main-background .main-categories div.category:nth-child(odd) {
  background-image: linear-gradient(315deg, #67299d 0%, #df0085eb 50%, #e9a577d6 100%);
  color: #fbe6fd;
}

.main-background .main-categories div.category:nth-child(odd) button {
  background-color: transparent;
  color: #fbe6fd;
  border: 2px solid #fbe6fd;
  border-radius: 4px;
}

.main-background .main-categories div.category:nth-child(odd) button:hover:not(:disabled) {
  background-color: #ff9b58;
  border: 2px solid #ff9b58;
  color: #180027;
}

.main-background .main-categories div.category:nth-child(odd) hr {
  border-bottom: 1px solid #190033;
  margin: 3rem 0;
}

.main-background .main-categories div.category:nth-child(odd) .badge.done {
  background-color: #67299d;
}

.main-background .main-categories div.category:nth-child(even) {
  color: #fbe6fd;
}

.main-background .main-categories div.category:nth-child(even) button {
  background-color: transparent;
  color: #fbe6fd;
  border: 2px solid #fbe6fd;
  border-radius: 4px;
}

.main-background .main-categories div.category:nth-child(even) button:hover:not(:disabled) {
  background-color: #67299d;
  border: 2px solid #67299d;
}

.main-background .main-categories div.category:nth-child(even) hr {
  border-bottom: 1px solid #67299d;
  margin: 3rem 0;
}

.main-background .main-categories div.category:nth-child(even) .badge.done {
  background-color: #67299d;
}

.main-background .main-categories div.category:nth-child(even) .section-divider {
  visibility: hidden;
}

.main-background .gray-out {
  color: #67299d;
  font-style: italic;
}

.main-background .gray-out h3 {
  color: #67299d;
}

.main-background .gray-out .buttons {
  font-style: normal;
}
