body {
  background-color: #548f9e !important;
  background-image: url("/img/fun-backd.png");
  color: #001524 !important;
  font-family: 'Questrial', sans-serif !important;
}

body a {
  color: #001524;
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-background .jumbotron {
  background-color: transparent;
  margin-top: 8em;
  padding: 5em 10em;
  border: 1px solid #15616D;
  border-radius: 2px;
}

.main-background .jumbotron h1 {
  text-align: center;
}

.main-background .modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}

.main-background .modal-notify .modal-content {
  border-radius: 3px;
}

.main-background .smart-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-top: 15px;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main-background .smart-add .smart-add-box {
  display: flex;
  flex-direction: column;
  width: 14em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-background .smart-add .smart-add-box textarea {
  height: 2em;
  width: 14em;
  border-style: hidden;
  border-bottom: 2px solid #15616D;
  background-color: transparent;
  resize: none;
}

.main-background .smart-add .smart-add-box textarea:focus-visible {
  border-style: hidden;
  border-bottom: 2px solid #15616D;
}

.main-background .smart-add .smart-add-box .new-item {
  background-color: transparent;
  border: 2px solid #15616D;
  border-radius: 4px;
  width: 25%;
}

.main-background .smart-add .smart-add-box .new-item:hover {
  background-color: #D53E20;
  color: white;
  border: 2px solid #D53E20;
}

.main-background .main-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-background .main-categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-background .main-categories div h2 {
  margin-top: 3rem;
}

.main-background .main-categories div article {
  width: 90%;
  margin-bottom: 3rem;
}

.main-background .main-categories div article .items-count {
  text-align: right;
}

.main-background .main-categories div article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-background .main-categories div article .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.main-background .main-categories div article .buttons button {
  margin: 1em;
  background-color: transparent;
  color: #001524;
  border: 2px solid #001524;
  border-radius: 4px;
}

.main-background .main-categories div article .buttons button:hover {
  background-color: #D53E20;
  color: white;
  border: 2px solid #D53E20;
}

.main-background .main-categories div article hr {
  border-bottom: 1px solid #001524;
}

.main-background .main-categories .category-movies {
  background-color: #3B60E4;
}

.main-background .main-categories .category-restaurants {
  background-color: #FF37A6;
}

.main-background .main-categories .category-books {
  background-color: #A3E7FC;
}

.main-background .main-categories .category-products {
  background-color: #70EB8D;
}

.main-background .gray-out {
  color: #FF7D00;
  font-style: italic;
}

.main-background .gray-out h3 {
  color: #FF7D00;
}

.main-background .gray-out .buttons {
  font-style: normal;
}

.login-background .main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #15616D;
  border-radius: 2px;
  margin: 5em auto;
  width: 30em;
}

.login-background .main-login .login-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-background .main-login .email-password-container {
  margin-bottom: 15px;
}

.login-background .main-login .email-password-container form {
  display: flex;
  flex-direction: column;
}

.login-background .main-login .email-password-container form input {
  background-color: transparent;
  border-style: hidden;
  border-bottom: 2px solid #15616D;
}

.login-background .main-login .email-password-container form .login-submit {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #15616D;
  border-radius: 4px;
  width: 50%;
}

.login-background .main-login .email-password-container form .login-submit:hover {
  background-color: #15616D;
  color: white;
}

.login-background .main-login h4 {
  margin-bottom: 1em;
}
