.navbar-light {
  font-size: 1.5em;
  color: #C2BC90 !important;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-brand {
  font-size: xx-large;
  color: #C2BC90 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #C2BC90 !important;
}

.navbar-light .collapse button {
  background-color: #15616D;
  color: white;
}

.navbar-light .collapse button:hover {
  background-color: #C2BC90;
}

.navbar-light .logout {
  width: 5rem;
  margin-bottom: 0.2rem;
}

.navbar-light #btn-logout {
  background-color: transparent;
  border: 2px solid #C2BC90;
  border-radius: 4px;
  font-size: smaller;
  color: #C2BC90;
}

.navbar-light #btn-logout:hover {
  background-color: #C2BC90;
  border: transparent;
  color: white;
}
