.navbar-light {
  font-size: 1.5em;
  color: #15616D !important;
}

.navbar-light .navbar-brand {
  font-size: xx-large;
  color: #15616D !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #15616D !important;
}

.navbar-light .collapse button {
  background-color: #15616D;
  color: white;
}

.navbar-light .collapse button:hover {
  background-color: #D53E20;
}

.navbar-light .logout {
  width: 5rem;
  margin-bottom: 0.2rem;
}

.navbar-light #btn-logout {
  background-color: transparent;
  border: 2px solid #001524;
  border-radius: 4px;
  font-size: smaller;
}

.navbar-light #btn-logout:hover {
  background-color: #D53E20;
  border: transparent;
  color: white;
}
