.navbar-light {
  font-size: 1.5em;
  color: #C2BC90 !important;
  background: #32565F url("/img/fun-backd.png");
}

.navbar-light .navbar-brand {
  font-size: xx-large;
  color: #C2BC90 !important;
  background: #32565F;
  padding: 0 0.7rem;
}

.navbar-light .navbar-nav {
  background: #32565F;
  padding: 0 0.7rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #C2BC90 !important;
}

.navbar-light .collapse button {
  background-color: #001524;
  color: #C2BC90;
  font-weight: bold;
}

.navbar-light .collapse button:hover {
  background-color: #C2BC90;
  color: #001524;
}

.navbar-light .dropdown-menu {
  background-color: #C2BC90;
  color: #001524;
}

.navbar-light .dropdown-menu .dropdown-item:hover, .navbar-light .dropdown-menu .dropdown-item:active, .navbar-light .dropdown-menu .dropdown-item:focus {
  background-color: rgba(0, 0, 0, 0.4);
  color: #001524;
}

.navbar-light .dropdown-menu .dropdown-item:focus-visible {
  outline: none;
}

.navbar-light .logout {
  width: 5rem;
  margin-bottom: 0.2rem;
}

.navbar-light #btn-logout {
  background-color: transparent;
  border: 2px solid #C2BC90;
  border-radius: 4px;
  font-size: smaller;
  color: #C2BC90;
}

.navbar-light #btn-logout:hover {
  background-color: #C2BC90;
  border: transparent;
  color: #001524;
}
