.grey-background {
  background-color: #EAE7DC;
}

.grey-background .main-register {
  font-family: 'Questrial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E85A4F;
  border-radius: 4px;
  margin: 5em auto;
  color: #8E8D8A;
  width: 30em;
}

.grey-background .main-register h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.grey-background .main-register .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grey-background .main-register .form input {
  background-color: transparent;
  border-style: hidden;
  border-bottom: 2px solid #E98074;
}

.grey-background .main-register .form .signup-submit {
  margin-top: 15px;
  background-color: transparent;
  color: black;
  border: 2px solid #E98074;
  border-radius: 4px;
  width: 50%;
}

.grey-background .main-register .form .signup-submit:hover {
  background-color: #E98074;
  color: white;
}

.grey-background .main-register .form h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.grey-background .main-register .form h4 a {
  color: #E85A4F;
}
