body {
  background-color: #FFF7EB !important;
  color: #15616D !important;
}

.grey-background .main-background {
  font-family: 'Questrial', sans-serif;
  color: #15616D;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey-background .main-background .jumbotron {
  background-color: transparent;
  margin-top: 8em;
  padding: 5em 10em;
  border: 1px solid #001524;
  border-radius: 2px;
}

.grey-background .main-background .jumbotron h1 {
  color: #15616D;
}

.grey-background .main-background h1 {
  color: #15616D;
}

.grey-background .main-background .modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}

.grey-background .main-background .modal-notify .modal-content {
  border-radius: 3px;
}

.grey-background .main-background .smart-add {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #001524;
  border-radius: 4px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.grey-background .main-background .smart-add .smart-add-box {
  width: 14em;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.grey-background .main-background .smart-add .smart-add-box textarea {
  height: 2em;
  width: 14em;
  border-style: hidden;
  border-bottom: 2px solid #001524;
  background-color: transparent;
  resize: none;
}

.grey-background .main-background .smart-add .smart-add-box .new-item {
  background-color: transparent;
  color: black;
  border: 2px solid #001524;
  border-radius: 4px;
  width: 25%;
}

.grey-background .main-background .smart-add .smart-add-box .new-item:hover {
  background-color: #D53E20;
  color: white;
  border: 2px solid #D53E20;
}

.grey-background .main-background .main-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.grey-background .main-background .main-categories h2 {
  color: #15616D;
}

.grey-background .main-background .main-categories h3 {
  color: #15616D;
}

.grey-background .main-background .main-categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

.grey-background .main-background .main-categories article {
  border: 2px solid #001524;
  border-radius: 4px;
  padding: 1em;
  width: 100%;
  margin: 1em 0;
}

.grey-background .main-background .main-categories article h2 {
  border-bottom: 1px solid black;
}

.grey-background .main-background .main-categories article .items-count {
  text-align: right;
}

.grey-background .main-background .main-categories article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-background .main-background .main-categories article .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.grey-background .main-background .main-categories article .buttons button {
  margin: 1em;
  background-color: transparent;
  color: #001524;
  border: 2px solid #001524;
  border-radius: 4px;
}

.grey-background .main-background .main-categories article .buttons button:hover {
  background-color: #D53E20;
  color: white;
  border: 2px solid #D53E20;
}

.grey-background .main-background .gray-out {
  color: #FF7D00;
  font-style: italic;
}

.grey-background .main-background .gray-out h3 {
  color: #FF7D00;
}

.grey-background .main-background .gray-out .buttons {
  font-style: normal;
}

.grey-background .main-register {
  font-family: 'Questrial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #001524;
  border-radius: 4px;
  margin: 5em auto;
  color: #15616D;
  width: 30em;
}

.grey-background .main-register h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.grey-background .main-register .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grey-background .main-register .form input {
  background-color: transparent;
  border-style: hidden;
  border-bottom: 2px solid #001524;
}

.grey-background .main-register .form .signup-submit {
  margin-top: 15px;
  background-color: transparent;
  color: black;
  border: 2px solid #001524;
  border-radius: 4px;
  width: 50%;
}

.grey-background .main-register .form .signup-submit:hover {
  background-color: #001524;
  color: white;
}

.grey-background .main-register .form h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.grey-background .main-register .form h4 a {
  color: #15616D;
}
