body {
  background-color: #32565F !important;
  background-image: url("/img/fun-backd.png");
  background-attachment: fixed;
  color: #001524 !important;
  font-family: 'Questrial', sans-serif !important;
}

body a {
  color: #001524;
}

body > header {
  position: sticky;
  top: 0px;
  left: 0px;
}

body p:not(.m-auto) {
  font-size: larger;
}

body h5 {
  font-size: 1.5rem;
}

body h3 {
  font-size: 2rem;
  width: 85%;
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-background .jumbotron {
  background-color: transparent;
  margin-top: 8em;
  padding: 5em 10em;
  border: 1px solid #15616D;
  border-radius: 2px;
}

.main-background .jumbotron h1 {
  text-align: center;
}

.main-background .modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}

.main-background .modal-notify .modal-content {
  border-radius: 3px;
}

.main-background .smart-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background-color: #c2bc9081;
}

.main-background .smart-add .smart-add-box {
  display: flex;
  flex-direction: column;
  width: 14em;
  margin: 2em 0;
  margin-left: 5%;
}

.main-background .smart-add .smart-add-box textarea {
  height: 2em;
  width: 14em;
  border-style: hidden;
  border-bottom: 2px solid #001524;
  background-color: transparent;
  resize: none;
}

.main-background .smart-add .smart-add-box textarea:focus-visible {
  outline: none;
}

.main-background .smart-add .smart-add-box .new-item {
  background-color: transparent;
  border: 2px solid #001524;
  border-radius: 4px;
  width: 25%;
}

.main-background .smart-add .smart-add-box .new-item:hover {
  background-color: #C2BC90;
  color: white;
  border: 2px solid #C2BC90;
}

.main-background .main-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-background .main-categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-background .main-categories div h2 {
  margin-top: 3rem;
  text-transform: capitalize;
}

.main-background .main-categories div article {
  width: 90%;
  margin-bottom: 3rem;
}

.main-background .main-categories div article .items-count {
  text-align: right;
}

.main-background .main-categories div article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-background .main-categories div article .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
}

.main-background .main-categories div article .buttons button {
  margin: 1em;
}

.main-background .main-categories div:not(.buttons):nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.4);
  color: #C2BC90;
  text-shadow: 5px 5px 5px #001524;
}

.main-background .main-categories div:not(.buttons):nth-child(odd) button {
  background-color: transparent;
  color: #C2BC90;
  border: 2px solid #C2BC90;
  border-radius: 4px;
}

.main-background .main-categories div:not(.buttons):nth-child(odd) button:hover {
  background-color: #C2BC90;
  border: 2px solid #C2BC90;
  color: #001524;
}

.main-background .main-categories div:not(.buttons):nth-child(odd) hr {
  border-bottom: 1px solid #C2BC90;
}

.main-background .main-categories div:not(.buttons):nth-child(even) {
  background-color: #c2bc9081;
  color: #001524;
  text-shadow: 5px 5px 5px #C2BC90;
}

.main-background .main-categories div:not(.buttons):nth-child(even) button {
  background-color: transparent;
  color: #001524;
  border: 2px solid #001524;
  border-radius: 4px;
}

.main-background .main-categories div:not(.buttons):nth-child(even) button:hover {
  background-color: #001524;
  border: 2px solid #001524;
  color: #C2BC90;
}

.main-background .main-categories div:not(.buttons):nth-child(even) hr {
  border-bottom: 1px solid #001524;
}

.main-background .gray-out {
  color: #C2BC90;
  font-style: italic;
}

.main-background .gray-out h3 {
  color: #C2BC90;
}

.main-background .gray-out .buttons {
  font-style: normal;
}

div.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #15616D;
  border-radius: 4px;
  width: 55%;
  margin: 2em auto;
}

div.profile-container div.card {
  width: 50%;
  margin-top: 3em;
}

div.profile-container div.user-inputs {
  margin: 5em 0;
}

div.profile-container div.user-inputs div.form-group {
  border-radius: 4px;
  border: 2px solid #15616D;
}

div.profile-container div.user-inputs div.form-group input {
  background-color: transparent;
}

div.profile-container div.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

div.profile-container div.buttons .btn-submit {
  background-color: #15616D;
  color: white;
  border: 2px solid #15616D;
  border-radius: 4px;
  padding: 0.5em;
}

div.profile-container div.buttons .btn-submit:hover {
  border: 2px solid #15616D;
  background-color: transparent;
  color: #15616D;
}

div.profile-container div.buttons .btn-cancel {
  background-color: transparent;
  border: 2px solid #15616D;
  border-radius: 4px;
}

div.profile-container div.buttons .btn-cancel:hover {
  background-color: #15616D;
  color: white;
}
