$body-color: #190033;
$light-text: #fbe6fd;
$dark-text: #180027;
$purple-accent: #67299d;
$orange-accent: #ff9b58;

$transparent-black: rgba(0, 0, 0, 0.4);
$transparent-white: rgba(255, 255, 255, 0.4);