$body-color: #32565F;
$accent-color: #C2BC90;

$transparent-black: rgba(0, 0, 0, 0.4);
$transparent-white: rgba(255, 255, 255, 0.4);
$transparent-accent: #c2bc9081;

$text-color: #001524;
$nav-color: #15616D;