@import './global_colors';

body {
  background-color: $body-color !important;
  color: $light-text !important;
  font-family: 'Questrial', sans-serif !important;

  a {
    color: $light-text;
  }

  >header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  p:not(.m-auto) {
    font-size: larger;
  }

  h5 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;

  .jumbotron {
    background-color: transparent;
    margin-top: 8em;
    padding: 5em 10em;
    border: 1px solid $dark-text;
    border-radius: 2px;

    h1 {
      text-align: center;
    }
  }

  .modal-notify {
    color: $dark-text;

    .modal-header {
      border-radius: 3px 3px 0 0;
    }

    .modal-content {
      border-radius: 3px;
    }
  }

  .smart-add {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;

    .smart-add-box {
      display: flex;
      flex-direction: column;

      width: 14em;
      margin: 2em 0;
      margin-left: 5%;

      textarea {
        height: 2em;
        width: 14em;
        border-style: hidden;
        border-bottom: 2px solid $light-text;
        background-color: transparent;
        resize: none;

        &:focus-visible {
          outline: none;
        }
      }

      .new-item {
        background-color: transparent;
        border: 2px solid $light-text;
        border-radius: 4px;
        width: 25%;
        color: $light-text;

        &:hover {
          background-color: $purple-accent;
          border: 2px solid $purple-accent;
        }
      }
    }
  }

  .main-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    div.category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;


      h2 {
        text-transform: capitalize;
      }

      article {
        width: 90%;

        .items-count {
          text-align: right;
        }

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            width: 85%;

            .badge {
              margin-left: 1rem;
              font-size: medium;
            }
          }

          .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            width: 15%;

            button {
              margin: 1em;
            }
          }
        }

        &.done {
          h3,
          h5,
          p {
            font-style: italic;
          }
        }
      }

      .section-divider {
        background-image: url('/img/div1.png');
        height: 5rem;
        width: 100%;

        &.top {
          transform: rotateY(180deg);
        }

        &.bottom {
          transform: rotateX(180deg);
        }
      }

      &:nth-child(odd) {
        background-image: linear-gradient(315deg, #67299d 0%, #df0085eb 50%, #e9a577d6 100%);
        color: $light-text;

        button {
          background-color: transparent;
          color: $light-text;
          border: 2px solid $light-text;
          border-radius: 4px;

          &:hover:not(:disabled) {
            background-color: $orange-accent;
            border: 2px solid $orange-accent;
            color: $dark-text;
          }
        }

        hr {
          border-bottom: 1px solid $body-color;
          margin: 3rem 0;
        }

        .badge.done {
          background-color: $purple-accent;
        }
      }

      &:nth-child(even) {
        color: $light-text;

        button {
          background-color: transparent;
          color: $light-text;
          border: 2px solid $light-text;
          border-radius: 4px;

          &:hover:not(:disabled) {
            background-color: $purple-accent;
            border: 2px solid $purple-accent;
          }
        }

        hr {
          border-bottom: 1px solid $purple-accent;
          margin: 3rem 0;
        }

        .badge.done {
          background-color: $purple-accent;
        }

        .section-divider {
          visibility: hidden;
        }
      }
    }
  }

  .gray-out {
    color: $purple-accent;
    font-style: italic;

    h3 {
      color: $purple-accent;
    }

    .buttons {
      font-style: normal;
    }
  }
}