@import './global_colors';

body {
  background-color: $body-color !important;
  background-image: url('/img/fun-backd.png');
  background-attachment: fixed;
  color: $text-color !important;
  font-family: 'Questrial', sans-serif !important;

  a {
    color: $text-color;
  }

  >header {
    position: sticky;
    top: 0px;
    left: 0px;
  }

  p:not(.m-auto) {
    font-size: larger;
  }

  h5 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
    width: 85%;
  }
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;

  .jumbotron {
    background-color: transparent;
    margin-top: 8em;
    padding: 5em 10em;
    border: 1px solid $nav-color;
    border-radius: 2px;

    h1 {
      text-align: center;
    }
  }

  .modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
  }

  .modal-notify .modal-content {
    border-radius: 3px;
  }

  .smart-add {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    background-color: $transparent-accent;

    .smart-add-box {
      display: flex;
      flex-direction: column;

      width: 14em;
      margin: 2em 0;
      margin-left: 5%;

      textarea {
        height: 2em;
        width: 14em;
        border-style: hidden;
        border-bottom: 2px solid $text-color;
        background-color: transparent;
        resize: none;

        &:focus-visible {
          outline: none;
        }
      }

      .new-item {
        background-color: transparent;
        border: 2px solid $text-color;
        border-radius: 4px;
        width: 25%;

        &:hover {
          background-color: $accent-color;
          color: white;
          border: 2px solid $accent-color;
        }
      }
    }
  }

  .main-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

      h2 {
        margin-top: 3rem;
        text-transform: capitalize;
      }

      article {
        width: 90%;
        margin-bottom: 3rem;

        .items-count {
          text-align: right;
        }

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          width: 15%;

          button {
            margin: 1em;
          }
        }
      }
    }

    div:not(.buttons):nth-child(odd) {
      background-color: $transparent-black;
      color: $accent-color;
      text-shadow: 5px 5px 5px $text-color;

      button {
        background-color: transparent;
        color: $accent-color;
        border: 2px solid $accent-color;
        border-radius: 4px;

        &:hover {
          background-color: $accent-color;
          border: 2px solid $accent-color;
          color: $text-color;
        }
      }

      hr {
        border-bottom: 1px solid $accent-color;
      }
    }

    div:not(.buttons):nth-child(even) {
      background-color: $transparent-accent;
      color: $text-color;
      text-shadow: 5px 5px 5px $accent-color;

      button {
        background-color: transparent;
        color: $text-color;
        border: 2px solid $text-color;
        border-radius: 4px;

        &:hover {
          background-color: $text-color;
          border: 2px solid $text-color;
          color: $accent-color;
        }
      }

      hr {
        border-bottom: 1px solid $text-color;
      }
    }
  }

  .gray-out {
    color: $accent-color;
    font-style: italic;

    h3 {
      color: $accent-color;
    }

    .buttons {
      font-style: normal;
    }
  }
}