@import './global_colors';

body {
  background-color: $body-color !important;
  color: $text-color !important;
  font-family: 'Questrial', sans-serif !important;

  a {
    color: $text-color;
  }
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;

  .jumbotron {
    background-color: transparent;
    margin-top: 8em;
    padding: 5em 10em;
    border: 1px solid $border-color;
    border-radius: 2px;

    h1 {
      text-align: center;
    }
  }

  .modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
  }

  .modal-notify .modal-content {
    border-radius: 3px;
  }

  .smart-add {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 15px;
    background-color: transparent;
    border: 2px solid $border-color;
    border-radius: 4px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;

    .smart-add-box {
      flex-direction: column;

      width: 14em;
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;

      textarea {
        height: 2em;
        width: 14em;
        border-style: hidden;
        border-bottom: 2px solid $border-color;
        background-color: transparent;
        resize: none;
      }

      .new-item {
        background-color: transparent;
        border: 2px solid $border-color;
        border-radius: 4px;
        width: 25%;

        &:hover {
          background-color: $hover-color;
          color: white;
          border: 2px solid $hover-color;
        }
      }
    }
  }

  .main-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 1em;
      padding: 1em;
      width: 100%;
    }

    article {
      border: 2px solid $border-color;
      border-radius: 4px;
      padding: 1em;
      width: 100%;
      margin: 1em 0;

      h2 {
        border-bottom: 1px solid black;
      }

      .items-count {
        text-align: right;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        button {
          margin: 1em;
          background-color: transparent;
          color: $border-color;
          border: 2px solid $border-color;
          border-radius: 4px;

          &:hover {
            background-color: $hover-color;
            color: white;
            border: 2px solid $hover-color;
          }
        }
      }
    }
  }

  .gray-out {
    color: $accent-color;
    font-style: italic;

    h3 {
      color: $accent-color;
    }

    .buttons {
      font-style: normal;
    }
  }
}