@import './global_colors';
@import './layout.scss';

.login-background {
  .main-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid $nav-color;
    border-radius: 2px;
    margin: 5em auto;
    width: 30em;

    .login-title {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .email-password-container {
      margin-bottom: 15px;

      form {
        display: flex;
        flex-direction: column;

        input {
          background-color: transparent;
          border-style: hidden;
          border-bottom: 2px solid $nav-color;
        }

        .login-submit {
          margin-top: 15px;
          background-color: transparent;
          border: 2px solid $nav-color;
          border-radius: 4px;
          width: 50%;

          &:hover {
            background-color: $nav-color;
            color: white;
          }
        }
      }
    }

    h4 {
      margin-bottom: 1em;
    }
  }
}