@import './global_colors';

.navbar-light {
  font-size: 1.5em;
  color: $nav-color !important;

  .navbar-brand {
    font-size: xx-large;
    color: $nav-color !important;
  }

  .navbar-nav .nav-link {
    color: $nav-color !important;
  }

  .collapse button {
    background-color: $nav-color;
    color: white;

    &:hover {
      background-color: $hover-color;
    }
  }

  .logout {
    width: 5rem;
    margin-bottom: 0.2rem;
  }

  #btn-logout {
    background-color: transparent;
    border: 2px solid $text-color;
    border-radius: 4px;
    font-size: smaller;

    &:hover {
      background-color: $hover-color;
      border: transparent;
      color: white;
    }
  }
}

// Desktop
@media only screen and (min-width: 1024px) {}