@import './global_colors';

.navbar-light {
  font-size: 1.5em;
  color: $light-text !important;
  background-image: linear-gradient(315deg, $purple-accent 0%, #df0086 50%, $orange-accent 100%);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

  .navbar-brand {
    font-size: xx-large;
    color: $dark-text !important;
    padding: 0 0.7rem;
  }

  .navbar-nav {
    padding: 0 0.7rem;

    .nav-link {
      color: $light-text !important;
    }
  }

  .collapse button {
    background-color: $body-color;
    color: $light-text;
    font-weight: bold;

    &:hover {
      background-color: $purple-accent;
      color: $light-text;
    }
  }

  .dropdown-menu {
    background-color: $purple-accent;
    color: $light-text;

    .dropdown-item {
      color: $light-text;

      &:hover,
      &:active,
      &:focus {
        background-color: $transparent-black;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  .logout {
    width: 5rem;
    margin-bottom: 0.2rem;
  }

  #btn-logout {
    background-color: transparent;
    border: 2px solid $light-text;
    border-radius: 4px;
    font-size: smaller;
    color: $light-text;

    &:hover {
      background-color: $orange-accent;
      border: transparent;
      color: $dark-text;
    }
  }
}

// Desktop
@media only screen and (min-width: 1024px) {}