@import './global_colors';

.navbar-light {
  font-size: 1.5em;
  color: $accent-color !important;
  background: $body-color url('/img/fun-backd.png');

  .navbar-brand {
    font-size: xx-large;
    color: $accent-color !important;
    background: $body-color;
    padding: 0 0.7rem;
  }

  .navbar-nav {
    background: $body-color;
    padding: 0 0.7rem;

    .nav-link {
      color: $accent-color !important;
    }
  }

  .collapse button {
    background-color: $text-color;
    color: $accent-color;
    font-weight: bold;

    &:hover {
      background-color: $accent-color;
      color: $text-color;
    }
  }

  .dropdown-menu {
    background-color: $accent-color;
    color: $text-color;

    .dropdown-item {
      &:hover, &:active, &:focus {
        background-color: $transparent-black;
        color: $text-color;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  .logout {
    width: 5rem;
    margin-bottom: 0.2rem;
  }

  #btn-logout {
    background-color: transparent;
    border: 2px solid $accent-color;
    border-radius: 4px;
    font-size: smaller;
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      border: transparent;
      color: $text-color;
    }
  }
}

// Desktop
@media only screen and (min-width: 1024px) {}